extends layout
block content
  ul#voter
    li
      div.table-wrapper
        div.table-cell
          a#voteyes Yes
          div 0
    li
      div.table-wrapper
        div.table-cell
          a#voteno No
          div 0
