doctype html
html(lang="en")
  head
    title= 'clikr'
    script(src='/jquery/jquery.js')
    script(src='/js/main.js')
    link(rel='stylesheet', href='/css/main.css')
    meta(name='viewport', content="width=device-width")
  body
    block content 
